body{
    background-color: wheat;
}

.container{
    padding: 25px 35px;
    width: 400px;
    background:whitesmoke;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input{
    padding:  10px;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid olivedrab;
}

.container button{
    height: 50px;
    width: 100%;
    background-color: navy;
    color:#fff;
    cursor:pointer;
    font-weight: 500;
    margin: 20px 0;
}

#imgbox{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow:visible;
    max-height: 0;
    transition: max-height 1s;
}

#imgbox img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* object-fit: contain; */
}
#imgbox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid;
    padding: 10px;
}
@keyframes shake {
        25% { transform: translateX(4px);}
        50% { transform: translateX(-4px);}
        75% { transform: translateX(4px);}
        100% { transform: translateX(0px);}
    }
.error{
    animation: shake 0.5s;
    border: 1px solid red; 
}