body{
    background-color: wheat;
}

.container{
    padding: 25px 35px;
    width: 400px;
    background:whitesmoke;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input{
    padding:  10px;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid olivedrab;
}

.container button{
    height: 50px;
    width: 100%;
    background-color: navy;
    color:#fff;
    cursor:pointer;
    font-weight: 500;
    margin: 20px 0;
}

#imgbox{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#imgbox img{
    width: 100px;
    padding: 10px;
}
#imgbox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solidg;
}